/*

App Name: Public Holidays
App Url: https://fate92ma.github.io/Public-Holidays
Contact Me: fatema131khaled@gmail.com

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
}

/* Start Styling */

body {
    font-family: 'Montserrat';
    background: linear-gradient(to left, #ffffff 0%, #dddddd 100%)
}

main {
    text-align: center;
    margin: 100px auto
}

h2,
h4 {
    padding: 0 5px
}

h2 {
    font-size: 36px
}

h4 {
    font-size: 24px;
    margin-top: 24px
}

#DataInDom {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    margin: 40px auto
}

#DataInDom a {
    margin: 10px auto;
    font-size: 20px;
    display: block;
    width: fit-content;
    font-weight: bold;
    cursor: pointer;
    color: dodgerblue
}

#DataInDom a:hover {
    color: blue
}

strong {
    color: darkred
}

div {
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px
}

div h3 {
    font-size: 22px;
    margin-bottom: 20px
}

div p {
    font-size: 19px
}

div p:nth-of-type(2) {
    margin: 14px 0
}

#hideBtn {
    margin: auto;
    margin-top: 24px;
    cursor: pointer;
    padding: 7px 20px;
    font-weight: bold;
    font-size: 20px;
    outline: 0;
    border: 1px solid darkred;
    border-radius: 4px;
    color: darkred;
    display: none
}

@media (max-width: 1200px) {
    #DataInDom {
        width: 50%
    }
}

@media (max-width: 1024px) {
    #DataInDom {
        width: 60%
    }
}

@media (max-width: 768px) {
    #DataInDom {
        width: 80%
    }
}

@media (max-width: 480px) {
    #DataInDom {
        width: 100%
    }
}

/* End Styling */